			<!-- panel left -->
			<div data-role="panel" id="leftpanel" class="left_menu" data-display="overlay" data-position-fixed="true" >
				<!--
				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="//lorempixel.com/200/200/people/9/" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Jane Doe</strong>
								<span class='subline'>Super Power User</span>
							</div>
						</div>
					</div>
				</div>
				-->

				<ul data-role="listview"> 
					<li data-role="list-divider" data-inset="false">
						<img class="menu_icon" src="assets/img/home_btn_off.png" />
						<a href="../index.html" data-ajax='false' data-icon="false">Home</a>
					</li>
					<li data-inset="false" data-role="list-divider">
						<img class="profile-thumbnail" src="assets/img/9.jpe" />
						<a href="../index.html#profile" data-ajax='false' data-icon="false">Profile</a>
					</li>
					<li data-inset="false" data-role="list-divider">
						<img class="menu_icon" src="assets/img/menu_chat.png" />
						<a href="../index.html#chat" data-ajax='false' data-icon="false">Chats</a>
					</li>
					<li data-role="list-divider">
						<img class="menu_icon" src="assets/img/invite_icon_off.png" />
						<a href="../index.html#chat" data-ajax='false' data-icon="false">Settings</a>
						</li>
					<li data-role="list-divider">
						<img class="menu_icon" src="assets/img/invite_icon_off.png" />
						<a href="#" data-ajax='false' data-icon="false" data-ajax='false'>Invite</a>
					</li>
					<li data-role="list-divider">
						<img class="menu_icon" src="assets/img/imglogout2.png" />
						<a href="#" data-ajax='false' data-icon="false" data-ajax='false'>Logout</a>
					</li>
				</ul>
	
				
			</div>
			<!-- /panel left -->
